/* color combination:
	#1D2F3E background
	#152737 header background
	#0F9FB4 hanna background
	#0FB493 sanna background
	#C9E1C1 header text-color 
*/
body {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.container{
	background-color: #000000;
	}

.header{
	text-align: center;
	/* background-color: #7F909A; */
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color:  #FFFFFF;
	width: 52%;
	margin-left: 25%;
	border-radius: 15px;
	
	}
.hcontent{
	text-align: center;
	float: left;
	background-color: #ED6639;
	font-family: 'Pacifico', cursive;
	width: 45%;
	height: 100%;
	border-radius: 10px;
	margin-left: 35px;
	padding-bottom: 20px;
	margin-top: 50px;
}

#hannaheader{
	font-size: 20px;
	background-color: ; 
	width: 50%;
	margin-left: 25%;
	border-radius: 10px;

}

#himage{
	width: 50%;
	height: 100%;
	float: left;
}
	
#hannapic{
	float: right;
	
}

#htext{
	float: left;
	height: 100%;
	width: 50%
}

.scontent{
	text-align: center;
	float: right;
	background-color: #385B9F;
	font-family: 'Pacifico', cursive;
	width: 45%;
	height: 100%;
	border-radius: 10px;
	margin-right: 35px;
	padding-bottom: 20px;
	margin-top: 50px;
}

#sannaheader{
	font-size: 20px;
	background-color: ;
	border-radius: 10px;
	width: 50%;
	margin-left: 25%;
}

#simage{
	width: 50%;
	height: 100%;
	float: left;
}

#sannapic{
	float: right;

}
#stext{
	float: left;
	height: 100%;
	width: 50%
    
    
}

@media screen and (max-device-width: 800px){
	

.container{
	background-color: #000000;
}

.header{
	text-align: center;
	/* background-color: #7F909A; */
	font-family: 'Pacifico', cursive;
	font-size: 35px;
	color:  #FFFFFF;
	width: 52%;
	margin-left: 25%;
	border-radius: 15px;
	
	}

.hcontent{
	text-align: center;
	float: left;
	background-color: #ED6639;
	font-family: 'Pacifico', cursive;
	width: 90%;
	height: 50%;
	border-radius: 20px;
	margin-left: 35px;
	padding-bottom: 20px;
	margin-top: 50px;
}

#hannaheader{
	font-size: 50px;
	background-color: ; 
	width: 50%;
	margin-left: 25%;
	border-radius: 10px;

}


#himage{
	width: 50%;
	height: 100%;
	float: left;
}
	
#hannapic{
	float: right;
	
}
#hpuh{
    font-size: 60px;
}

#htext{
    font-size: 38px;
	float: left;
	height: 100%;
	width: 50%
}

.scontent{
	text-align: center;
	float: left;
	background-color: #385B9F;
	font-family: 'Pacifico', cursive;
	width: 90%;
	height: 50%; 
	border-radius: 20px;
	margin-left: 35px;
	padding-bottom: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#sannaheader{
	font-size: 50px;
	background-color: ;
	border-radius: 10px;
	width: 50%;
	margin-left: 25%;
}

#simage{
	width: 50%;
	height: 100%;
	float: left;
}

#sannapic{
	float: right;

}
#spuh{
    font-size: 60px;
}

#stext{
    font-size: 38px;
	float: left;
	height: 100%;
	width: 50%
}
}


@media screen and (max-width: 960px){

	.container{
	background-color: #000000;
}

.header{
	text-align: center;
	/* background-color: #7F909A; */
	font-family: 'Pacifico', cursive;
	font-size: 35px;
	color:  #FFFFFF;
	width: 52%;
	margin-left: 25%;
	border-radius: 15px;
	
	}

.hcontent{
	text-align: center;
	float: left;
	background-color: #ED6639;
	font-family: 'Pacifico', cursive;
	width: 90%;
	height: 50%;
	border-radius: 20px;
	margin-left: 35px;
	padding-bottom: 20px;
	margin-top: 50px;
}

#hannaheader{
	font-size: 50px;
	background-color: ; 
	width: 50%;
	margin-left: 25%;
	border-radius: 10px;

}


#himage{
	width: 50%;
	height: 100%;
	float: left;
}
	
#hannapic{
	float: right;
	
}
#hpuh{
    font-size: 60px;
}

#htext{
    font-size: 38px;
	float: left;
	height: 100%;
	width: 50%
}

.scontent{
	text-align: center;
	float: left;
	background-color: #385B9F;
	font-family: 'Pacifico', cursive;
	width: 90%;
	height: 50%; 
	border-radius: 20px;
	margin-left: 35px;
	padding-bottom: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#sannaheader{
	font-size: 50px;
	background-color: ;
	border-radius: 10px;
	width: 50%;
	margin-left: 25%;
}

#simage{
	width: 50%;
	height: 100%;
	float: left;
}

#sannapic{
	float: right;

}
#spuh{
    font-size: 60px;
}

#stext{
    font-size: 38px;
	float: left;
	height: 100%;
	width: 50%
}
}
